@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form-container {
  background-color: #f2f2f2; /* Light gray background */
  padding: 40px; /* Increased inner spacing */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  max-width: 500px; /* Maximum width */
  margin: 40px auto; /* Center horizontally and add more top & bottom spacing */
  border: 1px solid #ddd; /* Subtle border */
}

.form-group {
  margin-bottom: 25px;
}

.my-btn {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  background-color: #17a2b8;
  border-color: #17a2b8;
  color: #ffffff;
  border: #ffffff;
  cursor: pointer;
  font-size: 16px;
}

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: calc(1.575rem + 1.5vw);
}

h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
}

.company-logo {
  display: block;
  margin: 0 auto;
  width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  margin: 5px;
}
.card {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-text {
  color: black;
}

.card-img-top {
  height: 200px;
  width: 100%;
  object-fit: contain;
}

.pet-image {
  height: 70%;
  width: 28%;
}

.home-link {
  color: white;
}

.add-pet {
  font-size: large;
  padding: 15px;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.h1-white {
  color: white;
}

.custom-button {
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.custom-button:hover {
  text-decoration: underline;
}

.home-link:hover {
  font-weight: bold;
}

.btn-info:hover,
.add-pet:hover {
  background-color: #138496;
  border-color: #138496;
  color: white;
}

.btn-primary {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-primary:hover {
  background-color: #138496;
  border-color: #138496;
  color: white;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #c82333;
  color: white;
}

@media (max-width: 768px) {
  .App-logo,
  .header-title {
    display: none;
  }
}
